- if @service.provider == "twitter"
  Tweets from #{@account.user.screen_name}
%ul
  - if @service.provider == "twitter"
    - @feeds.each do |timeline|
      %li
        .picture(style="float: left;width: 48px;")
          = image_tag timeline.user.profile_background_image_url, width: "48", height: "48"
        .feed
          .user
            = timeline.user.name
            @
            = timeline.user.screen_name
          .timeline= timeline.text
        .clear(style="clear:both")
  - elsif @service.provider == "facebook"
    - @feeds.data.each do |timeline|
      %li
        .picture(style="float: left;width: 48px;")
          -# = image_tag timeline.user.profile_background_image_url, width: "48", height: "48"
        .feed
          .user
            = timeline.from.name
          .timeline
            = timeline.story || timeline.message
        .clear(style="clear:both")
= link_to "Back to Project", project_path(@project.id)