%h3 Add Projects

= form_for :project, :url => projects_path, method: 'post' do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label :description
  = f.text_field :description
  %br
  = f.submit :save

%hr

%h3 Your Projects

- @projects.each do |project|
  = project.name
  = link_to "Show", project_path({id: project.id})
  = link_to "Remove",  project_path(project.id), :method => :delete
  %br